@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 280.0000 33.3333% 96.4706%;
    --foreground: 216.9231 19.1176% 26.6667%;
    --card: 0 0% 100%;
    --card-foreground: 216.9231 19.1176% 26.6667%;
    --popover: 0 0% 100%;
    --popover-foreground: 216.9231 19.1176% 26.6667%;
    --primary: 255.1351 91.7355% 76.2745%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267.5676 90.2439% 91.9608%;
    --secondary-foreground: 215 13.7931% 34.1176%;
    --muted: 268.6957 100.0000% 95.4902%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 292.5000 44.4444% 92.9412%;
    --accent-foreground: 216.9231 19.1176% 26.6667%;
    --destructive: 0 93.5484% 81.7647%;
    --destructive-foreground: 0 0% 100%;
    --border: 267.5676 90.2439% 91.9608%;
    --input: 267.5676 90.2439% 91.9608%;
    --ring: 255.1351 91.7355% 76.2745%;
    --chart-1: 255.1351 91.7355% 76.2745%;
    --chart-2: 258.3117 89.5349% 66.2745%;
    --chart-3: 262.1229 83.2558% 57.8431%;
    --chart-4: 263.3898 69.9605% 50.3922%;
    --chart-5: 263.3557 69.3023% 42.1569%;
    --sidebar: 267.5676 90.2439% 91.9608%;
    --sidebar-foreground: 216.9231 19.1176% 26.6667%;
    --sidebar-primary: 255.1351 91.7355% 76.2745%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 292.5000 44.4444% 92.9412%;
    --sidebar-accent-foreground: 216.9231 19.1176% 26.6667%;
    --sidebar-border: 267.5676 90.2439% 91.9608%;
    --sidebar-ring: 255.1351 91.7355% 76.2745%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.5rem;
    --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.20);
  }

  .dark {
    --background: 24 9.8039% 10%;
    --foreground: 226.4516 100% 93.9216%;
    --card: 270 17.7778% 17.6471%;
    --card-foreground: 226.4516 100% 93.9216%;
    --popover: 270 17.7778% 17.6471%;
    --popover-foreground: 226.4516 100% 93.9216%;
    --primary: 255.9036 95.4023% 82.9412%;
    --primary-foreground: 24 9.8039% 10%;
    --secondary: 272.5000 19.3548% 24.3137%;
    --secondary-foreground: 216.0000 12.1951% 83.9216%;
    --muted: 270 17.7778% 17.6471%;
    --muted-foreground: 217.8947 10.6145% 64.9020%;
    --accent: 266.8966 19.2053% 29.6078%;
    --accent-foreground: 216.0000 12.1951% 83.9216%;
    --destructive: 0 93.5484% 81.7647%;
    --destructive-foreground: 24 9.8039% 10%;
    --border: 272.5000 19.3548% 24.3137%;
    --input: 272.5000 19.3548% 24.3137%;
    --ring: 255.9036 95.4023% 82.9412%;
    --chart-1: 255.9036 95.4023% 82.9412%;
    --chart-2: 255.1351 91.7355% 76.2745%;
    --chart-3: 258.3117 89.5349% 66.2745%;
    --chart-4: 262.1229 83.2558% 57.8431%;
    --chart-5: 263.3898 69.9605% 50.3922%;
    --sidebar: 272.5000 19.3548% 24.3137%;
    --sidebar-foreground: 226.4516 100% 93.9216%;
    --sidebar-primary: 255.9036 95.4023% 82.9412%;
    --sidebar-primary-foreground: 24 9.8039% 10%;
    --sidebar-accent: 266.8966 19.2053% 29.6078%;
    --sidebar-accent-foreground: 216.0000 12.1951% 83.9216%;
    --sidebar-border: 272.5000 19.3548% 24.3137%;
    --sidebar-ring: 255.9036 95.4023% 82.9412%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.5rem;
    --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.20);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
