name: Deploy Function
on:
  push:
    branches:
      - main
    paths:
      - 'functions/**'
  workflow_dispatch:
jobs:
  deploy:
    environment: functions
    runs-on: ubuntu-latest
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      PROJECT_ID: ${{ vars.SUPABASE_PROJECT_ID }}
      FUNCTION_NAME: 'metatags-info'
    steps:
      - uses: actions/checkout@v4
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - name: Create directory structure
        run: |
          mkdir -p supabase/functions
          ln -s ../../functions/$FUNCTION_NAME supabase/functions/$FUNCTION_NAME
      - name: Deploy Function
        run: supabase functions deploy $FUNCTION_NAME --project-ref $PROJECT_ID
